swagger: '2.0'
info:
  title: "Mechanic Shop API"
  description: "A RESTful API for managing mechanic shop operations including customers, mechanics, service tickets, and inventory items with JWT authentication and rate limiting."
  version: "1.0.0"
host: "127.0.0.1:5000"
schemes:
  - "http"
consumes:
  - "application/json"
produces:
  - "application/json"

securityDefinitions:
  bearerAuth:
    type: apiKey
    name: Authorization
    in: header

paths:
  /customers/login:
    post:
      tags:
        - Customers
      summary: "Login endpoint, (generates token)"
      description: "Validates customer credentials, generates and return a customer specific token."
      parameters:
        - in: "body"
          name: "body"
          description: "Login credentials"
          required: true
          schema:
            $ref: "#/definitions/LoginCredentials"
      responses:
        200:
          description: "Login Successful"
          schema:
            $ref: "#/definitions/LoginResponse"
          examples:
            application/json:
              message: "Successfully Logged In"
              status: "success"
              token: "eyJhbGciOiJIUzI1NiIsInR5cCI6I..."

  /customers:
    post:
      tags:
        - Customers
      summary: "Endpoint to create / register a new customer."
      description: "Endpoint to create a new customer in our Mechanic shop, emails must be unique."
      parameters:
        - in: "body"
          name: "body"
          description: "Information required to create a new Customer."
          required: true
          schema:
            $ref: "#/definitions/CreateCustomerPayload"
      responses:
        201:
          descriptions: "Successfull Customer Creation"
          schema:
            $ref: "#/definitions/CustomerResponse"
          examples:
            application/json:
              email: johnd@email.com
              id: 1
              name: John Doe
              password: password123
              phone: 555-555-5555

    get:
      tags:
        - Customers
      summary: "Returns all customers"
      description: "Endpoint to retrieve a list of all customers."
      responses:
        200:
          description: "Retrieved Customers Successfully"
          schema:
            $ref: "#/definitions/AllCustomers"

    put:
      tags:
        - Customers
      summary: "Endpoint to update a customer."
      description: "Endpoint to update a customer, this is a token authenticated route, and the customer must be logged in to update their account."
      security:
        - bearerAuth: []
      parameters:
        - in: "body"
          name: "body"
          description: "Information required to update a customer."
          required: true
          schema:
            $ref: "#/definitions/UpdateCustomerPayload"
      responses:
        200:
          descriptions: "Successfully Updated Customer"
          schema:
            $ref: "#/definitions/CustomerResponse"
          examples:
            application/json:
              email: johnd@email.com
              id: 1
              name: John Doe
              password: password123
              phone: 555-555-5555

    delete:
      tags:
        - Customers
      summary: "Enpoint to delete a customer"
      description: "Endpoint to delete a customer. Requires token authentication, customer must be logged in to delete their account"
      security:
       - bearerAuth: []
      responses:
        200:
          description: "Successfully Deleted Customer"
          schema:
            $ref: "#/definitions/DeleteCustomerResponse"
          examples:
            application/json:
              message: "Customer id: <customer_id>, successfully deleted."

  /customers/{id}:
    get:
      tags:
        - Customers
      summary: "Get specific customer"
      description: "Endpoint to get a specific customer using customer id."
      parameters:
        - in: "path"
          name: "id"
          description: "Customer ID"
          required: true
          type: "integer"
      responses:
        200:
          description: "Retrieved Customer Successfully"
          schema:
            $ref: "#/definitions/CustomerResponse"

definitions:

  LoginCredentials:
    type: "object"
    properties:
      email:
        type: "string"
      password:
        type: "string"

    required:
      - email
      - password

  LoginResponse:
    type: "object"
    properties:
      token:
        type: "string"
      message:
        type: "string"
      status:
        type: "string"

  CreateCustomerPayload:
    type: "object"
    properties:
      name:
        type: "string"
      email:
        type: "string"
      phone:
        type: "string"
      password:
        type: "string"

    required:
      - name
      - email
      - phone
      - password

  CustomerResponse:
    type: "object"
    properties:
      email:
        type: "string"
      id:
        type: "integer"
      name:
        type: "string"
      password:
        type: "string"
      phone:
        type: "string"

  AllCustomers:
    type: "array"
    items:
      type: "object"
      properties:
        email:
          type: "string"
        id:
          type: "integer"
        name:
          type: "string"
        password:
          type: "string"
        phone:
          type: "string"

  UpdateCustomerPayload:
    type: "object"
    properties:
      name:
        type: "string"
      email:
        type: "string"
      phone:
        type: "string"
      password:
        type: "string"

    required:
      - name
      - email
      - phone
      - password

  DeleteCustomerResponse:
    type: "object"
    properties:
      message:
        type: "string"
